.hero {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  padding-top: $p-9;
  padding-bottom: $p-9;
  text-align: center;

  @include circle(110rem, -25%, 30%);

  &__image {
    margin-bottom: $p-8;

    img {
      max-width: 40rem;
    }
  }
  
  &__text h1 {
    font-size: $font-5;
  }

  &__buttons {

    & a:not(.btn) {
      color: $color-text-1;
    }
    .btn {
      margin-right: $p-4;
    }
  }

  @include whenLarge {
    flex-direction: row;
    align-items: center;

    padding-top: $p-11;
    padding-bottom: $p-11; 
    text-align: left;

    &__image,
    &__text {
      flex: 1
    }

    &__text h1 {
      font-size: 5.4rem;
    }

    &__image {
      order: 2;
      margin-bottom: 0;

      img {
        max-width: 60rem;
      }
    }
  } // end of whenLarge

}