.intro {

  &__image {
    margin-bottom: $p-9;

    img {
      border-radius: 10px;
    }
  }

  &__title {
    max-width: 50rem;
  }

  @include whenLarge {
    align-items: center;

    &__image {
      margin-bottom: 0;
    }

  } // end of whenLarge
}