.testimonials {

  &__image {
    min-height: 32rem;
    background-size: cover;
    background-position: center;
  }

  &__right {
    background-color: $color-blue-gray;
  }

  &__text {
    padding: $p-9;
    max-width: 60rem;

    h2 {
      color: white;
    }
    p {
      color: #EFF0F1;
    }
  }

  @include whenMedium {

    &__text {
      margin: 0 auto;
    }
    
  } // end of whenMedium

  @include whenLarge {
    display: flex;

    &__right,
    &__image {
      flex: 1;
    }

    &__right {
      min-height: 400px;
      display: flex;
      align-items: center;
    }
  } // end of whenLarge
}