.testimonials {

  &__image {
    min-height: 32rem;
    background-size: cover;
    background-position: center;
  }

  &__right {
    background-color: $color-blue-gray;
  }

  &__text {
    padding: $p-9;
    max-width: 60rem;

    h2 {
      color: white;
    }
    p {
      color: #EFF0F1;
    }
  }

  &__testimonial {
    display: none;
    &.show {
      display: block;
    }
  }

  &__buttons button {
    padding: $p-1 $p-4;
    border-radius: 2px;
    color: white;
    background-color: rgba($color-blue-light, .2);

    &:first-child {
      margin-right: $p-9;
    }
  }

  @include whenMedium {

    &__text {
      margin: 0 auto;
    }
    
  } // end of whenMedium

  @include whenLarge {
    display: flex;

    &__right,
    &__image {
      flex: 1;
    }

    &__right {
      min-height: 50rem;
      display: flex;
      align-items: center;
    }

    &__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  } // end of whenLarge
}