* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  color: $color-text-1;
  font-size: 18px;
  font-size: $font-1;
  font-family: $font-body;
  line-height: 1.2;
  background-color: $color-bg-0;
  position: relative;
  overflow-x: hidden;
}

p, li, a {
  line-height: 1.8;
}
