
// colors
$color-text-0: #242727;
$color-text-1: #465658;
$color-text-2: #444444;
$color-text-3: #666666;
$color-text-4: #888888;
$color-text-5: #e1e8e8;
$color-text-6: #f7feff;
$color-text-7: #FFFFFF;

$color-bg-0: #FFFFFF;
$color-bg-1: #f1f7f9;

$color-cta: #bb5934;

$color-blue-1: #C2D9DB;
$color-blue-2: #3C7A84;
$color-blue-3: #3C7A84;
$color-blue-4: #425B5F;
$color-blue-5: #2a3638;


// fonts
$font-header: 'Montserrat', Arial, sans-serif;
$font-body: 'Open Sans', Tahoma, serif;

$font-0: 1.6rem;
$font-1: 1.8rem;
$font-2: 2.1rem;
$font-3: 2.6rem;
$font-4: 3.1rem;
$font-5: 3.7rem;
$font-6: 4.4rem;


// spacing
$p-0: .5rem;
$p-1: .8rem;
$p-2: 1rem;
$p-3: 1.2rem;
$p-4: 1.5rem;
$p-5: 1.8rem;
$p-6: 2.1rem;
$p-7: 2.6rem;
$p-8: 3.1rem;
$p-9: 4.4rem;
$p-10: 5.4rem;
$p-11: 6.4rem;
$p-12: 7.7rem;
$p-13: 9.2rem;