.homepage-intro {

  &__card {
    color: $color-text-1;
    padding: $p-5 $p-7;
    margin-right: $p-3;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, $color-blue-4 50%);
    transition: background-position .6s, color .6s;

    &:hover {
      color: white;
      background-position: -100% 0%;
    }

    h3 { font-size: $font-1; }
  }
}