.service {
  margin-top: 40px;

  &__list {
    background-color: #e4ecec;
    border-radius: 3px;
    overflow: hidden;
    margin-right: $p-10;

    h2 {
      font-size: $font-1;
      background-color: $color-blue-1;
    }
    h2, ul {
      padding: $p-4 $p-5;
    }
    li:not(:last-child) {
      margin-bottom: $p-3;
    }
  }

  .blog { transform: translateY(-13px); }

  .blog, .service__list {
    max-width: 600px;
    margin-top: 0;
  }

  .flex { align-items: flex-start;}

  @include whenMedium {

    .blog, &__list { margin: auto; }

    &__list {
      order: 2;
    }
    .blog {
      order: 1;
      transform: translateY(0);
    }
  }
}