.featured-testimonial {
  padding-top: 80px;
  padding-bottom: 80px;

  background-size: cover;
  background-position: center right;

  h2 { color: $color-blue-1; }

  small {
    color: $color-text-5;
    text-transform: uppercase;
    font-style: italic;
  }
}