.flex {

  & > * {
    margin-left: auto;
    margin-right: auto;
  }
  

  @include whenLarge {
    display: flex;

    & > * {
      flex: 1;
    }

    &--2 > *:first-child {
      margin-right: $p-8;
    }

    &--3 > * {
      margin-right: $p-10;
      &:last-child {
        margin-right: 0;
      }
    }
  } // end of whenLarge
}
