.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.section-top { padding-top: 8rem; }
.section-bottom { padding-bottom: 8rem; }

@include whenMedium {
  .section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .section-top { padding-top: 10rem; }
  .section-bottom { padding-bottom: 10rem; }
}

@include whenLarge {
  .section {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .section-top { padding-top: 12rem; }
  .section-bottom { padding-bottom: 12rem; }
}