.wrapper {
  width: 100%;
  padding-left: $p-5;
  padding-right: $p-5;
  margin-left: auto;
  margin-right: auto;

  &--sm { max-width: 60rem; }
  
  &--sm-on-md { 
    @include whenMedium { 
      max-width: 60rem; 
    } 
  }

  @include whenLarge {
    &,
    &--sm-on-md {
      max-width: 114rem;
    }
  } 
}
