$buttonColor: white;
$ctaColor: $color-cta;


button, .btn {
  padding: $p-3 $p-8;
  cursor: pointer;
  color: $color-text-1;
  background-color: $buttonColor;
  border-radius: 50px;
  border: none;
  display: inline-block;
}

.btn {
  &--cta {
    background-color: $ctaColor;
    color: white;
    transition: border-color .3s, background-color .3s;
    box-shadow: 0 3px 12px -2px rgba($ctaColor, .4);

    &:hover {
      color: white;
      background-color: darken($ctaColor, 10%);
    }
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--sm {
    padding: $p-1 $p-8;
  }

  &--round {
    border-radius: 60px;
  }

  &--white {
    color: white;
    background-color: rgba(#fff, 0);
    border: 1px solid white;
  }

  &--solid {
    border: 1px solid white;
  }
}
