.card-outlined {
  border: 1px solid $color-blue-1;
  padding: $p-8 $p-7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    font-family: $font-header;
    color: $color-blue-3;
  }

  &__rating {
    color: #f3b72e;
  }
}