.footer-global {

  .info__title {
    text-transform: uppercase;
    font-style: italic;
    font-family: $font-header;
    margin-bottom: $p-6;
    color: $color-blue-1;
  }

  p:not(.info__title) { font-size: $font-0; }

  .info__nav {
    ul li { margin-bottom: $p-2; }
    ul li a { color: $color-blue-1; }
  }

  .map {
    max-width: 400px;
  }

  .legal {
    background-color: $color-blue-5;
    text-transform: uppercase;
    a, p { font-size: 1.4rem; color: $color-text-6; }
  }
}