$link-color: #0d83a0;
$link-highlight-color: lighten($link-color, 20%);

a { 
  text-decoration: none;
  color: $link-color;
  transition: color .3s;
  &:hover {
    color: $link-highlight-color;
  }
}
