// media queries

// 600px
@mixin whenMedium() {
  @media only screen and (min-width: 37.5em) {
      @content;
  }
}

// 900px
@mixin whenLarge() {
  @media only screen and (min-width: 56.25em) {
      @content;
  }
}

@mixin cardDefault() {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 20px -2px rgba($color-blue-medium, .2);
  margin-bottom: $p-9;
  max-width: 48rem;
  overflow: hidden;
  padding: $p-11 $p-8;
}

@mixin circle($size, $pos-t, $pos-l) {
  position: relative;

  &::before {
    content: "";
    display: none;
    background-color: $color-blue-light;
    border-radius: 100%;
    position: absolute;
    z-index: -1;

    top: $pos-t;
    left: $pos-l;
    width: $size;
    height: calc(#{$size} * .9);

    @include whenMedium {
      display: block;
    }
  }
}